<div class="flex flex-col w-full md:flex-row md:w-1/12">
  <div class="flex flex-row md:flex-col md:space-x-0 md:space-y-24 md:h-screen w-full h-20 p-4 space-x-9 min-w-[408px] md:min-w-[100px] shadow-md">
    <div class="w-full h-full bg-yellow-200 rounded-full"></div>
    <div class="w-full h-full bg-orange-200 rounded-full"></div>
    <div class="w-full h-full bg-red-200 rounded-full"></div>
    <div class="w-full h-full bg-blue-200 rounded-full"></div>
    <div class="w-full h-full bg-green-200 rounded-full"></div>
  </div>
  <div class="w-full overflow-auto grid grid-cols-1 gap-2 p-5">
    <div class="bg-yellow-200 h-52 rounded-md p-4">
      <h3 class="font-bold truncate">Título de la nota</h3>
      <hr class="bg-black h-px my-2">
      <p class="text-slate-800 h-24 line-clamp-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit animi ipsam veritatis atque repudiandae sint possimus dolorem tempore dolores? Velit cum quaerat sit voluptatibus, temporibus ratione dolorem ex animi odio.
        Debitis amet quod quisquam suscipit modi fugit et aut, cum voluptatum dignissimos sit voluptatibus numquam adipisci. Nulla consequatur ipsum eos enim. Dolorem vel necessitatibus cum excepturi unde, quae nostrum ex.</p>
      <div class="flex flex-row justify-between mt-3 items-center">
        <i class="fa-solid fa-thumbtack bg-white p-2 rounded-full text-yellow-400"></i>
        <p class="text-sm text-slate-600">25/10/2023, 12:45:00</p>
      </div>
    </div>
    <div class="bg-green-200 h-52 rounded-md p-4">
      <h3 class="font-bold truncate">Título del recordatorio</h3>
      <hr class="bg-black h-px my-2">
      <p class="text-slate-800 h-24 line-clamp-4 text-justify">Este es el contenido del recordatorio.</p>
      <div class="flex flex-row justify-between mt-3 items-center">
        <i class="fa-solid fa-bell bg-white p-2 rounded-full text-red-500"></i>
        <p class="text-sm text-slate-600">25/10/2023, 23:15:00</p>
      </div>
    </div>
  </div>
</div>
