<div class="flex md:flex-col md:w-20 w-full md:justify-start md:h-screen border-b-2 md:border-r-2 md:border-b-0 justify-center">
  <div class="flex md:flex-col items-center md:space-y-2 md:space-x-0 space-x-2 p-4 md:mt-6">
    <div
      (click)="changeColor(0)"
      [ngClass]="{'border-2 border-slate-800': colorIdx == 0}"
      class="w-10 h-10 bg-yellow-200 rounded-full cursor-pointer">
    </div>
    <div
      (click)="changeColor(1)"
      [ngClass]="{'border-2 border-slate-800': colorIdx == 1}"
      class="w-10 h-10 bg-orange-200 rounded-full cursor-pointer">
    </div>
    <div
      (click)="changeColor(2)"
      [ngClass]="{'border-2 border-slate-800': colorIdx == 2}"
      class="w-10 h-10 bg-red-200 rounded-full cursor-pointer">
    </div>
    <div
      (click)="changeColor(3)"
      [ngClass]="{'border-2 border-slate-800': colorIdx == 3}"
      class="w-10 h-10 bg-blue-200 rounded-full cursor-pointer">
    </div>
    <div
      (click)="changeColor(4)"
      [ngClass]="{'border-2 border-slate-800': colorIdx == 4}"
      class="w-10 h-10 bg-green-200 rounded-full cursor-pointer">
    </div>
    <button
      (click)="openDialog()"
      type="button" class="px-5 text-sm text-center font-medium text-white bg-teal-600 focus:ring-4 rounded-full focus:outline-none focus:ring-green-300">
      <i class="fa-solid fa-plus text-lg"></i>
    </button>
  </div>
</div>
